* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

header {
    text-align: center;
    padding: 0.5em;

    color: rebeccapurple;
    background-color: white;
    box-shadow: 0 0 0.3em black;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header h1 {
    display: inline;
}

header img {
    vertical-align: sub;
}

#app {
    margin-top: 4em; /* 2 for h1 + 0.5*2 for header padding + 1 for more space */
    width: 100%;
}

#app > form,
#app > ul,
#app > h2,
#app > div {
    padding: 0.5em 1em;
    background-color: white;
}

ul.messages {
    list-style: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

li.message {
    padding: 0.5em 0;
}

li.message .poster {
    margin: 0;
    color: rebeccapurple;
    font-size: smaller;
}

li.message .text {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
}

input,
button {
    border: 1px solid rebeccapurple;
    display: block;
    width: 100%;
    font-size: larger;
    padding: 0.5em;
    margin: 0.5em 0;
}

button {
    border: 0;
    background: rebeccapurple;
    color: white;
    font-weight: bolder;
    text-align: center;
}

button:disabled {
    background: white;
    color: rebeccapurple;
}

.SearchForm,
.PostForm {
    margin-top: -1em;
}

.hero span.big {
    margin-right: 0.5em;
}

.center { text-align: center }
.gray   { color: gray }
.small  { font-size: small }
.big    { font-size: 1.5em }